.intensive
  .intensive__left
  //- Центральная часть
  .intensive__center
    //- Фото
    .intensive__mentors
      img.intensive__pict(src="images/mentors.png", alt="Наставники")
    //- Инфа
    .intensive__content
      h2.intensive__title Трехдневный интенсив 
      p.intensive__subtitle Лечение и профилактика психосома&shy;тических <br> и эндокринных заболеваний методами Бхригу йоги
      p.intensive__descr Вы познакомитесь с особенностями методов и  получите пошаговый <br>алгоритм достижения физического и психического благополучия.
      hr.intensive__hr
      //- Время проведения
      .intensive__block
        .intensive__item
          .date.date--i1
            .date__d.date__d--m1 11
            .date__i
              .date__m.date__m--m1 Ноября
              .date__t 19:00 - 21:00
        .intensive__item
          .date.date--i1
            .date__d.date__d--m1 12
            .date__i
              .date__m.date__m--m1 Ноября
              .date__t 11:00 - 17:30
        .intensive__item
          .date.date--i1
            .date__d.date__d--m1 13
            .date__i
              .date__m.date__m--m1 Ноября
              .date__t 11:00 - 17:30
      //- Блок Узнать больше
      .intensive__btn
        .btn.btn--m1
          a.button.button--m1(data-fancybox data-src="#hidden-content" href="javascript:;") Узнать больше
          .btn__i.btn__i--m1 Вы можете приобрести билет на 1, 2 или 3 дня. Запись и дополнительная информация по телефону 
            a(href="tel: +79997683638") +7 999 768 36 38
  .intensive__right