.knowledge
  //- 1
  .knowledge__leftside
  //- 2
  section.knowledge__center
    .knowledge__blocks
      h2.levels.levels--1 Что вы узнаете <br> на лекции? 
    .knowledge__blocks
      .levels.levels--2
    .knowledge__blocks
      .levels.levels--3
        .levels__step 01
        .levels__descr Что такое Бхригу йога, и как она поможет мне создать жизнь моей мечты?
    .knowledge__blocks
      .levels.levels--4
        .levels__step 02
        .levels__descr 5 техник, вдохновляющие на перемены, от вице-президента Федерации Йоги Индии
    .knowledge__blocks
      .levels.levels--5 
        .levels__step 03
        .levels__descr Почему медитация — это путь к вдохновению, путешествие к новым горизонтам
    .knowledge__blocks
      .levels.levels--6
        .levels__step 04
        .levels__descr Методы Бхригу йоги как особый инструмент внутренней работы над телом и умом
    .knowledge__blocks
      .levels.levels--7
        .levels__step 05
        .levels__descr Особые методы концентрации и релаксации
    .knowledge__blocks
      .levels.levels--8
        .levels__step 06
        .levels__descr Причины потери вдохновения
    .knowledge__blocks
      .levels.levels--9
        //- Кнопка
        .btn.btn--m1 
          a.button.button--k1(data-fancybox data-src="#hidden-content" href="javascript:;") Принять участие
          .btn__i.btn__i--k1 Количество мест <br>ограничено: 200  
    .knowledge__blocks
      .levels.levels--10
  //- 3
  .knowledge__rightside

