.section.section--lecture
  .container
    section.lecture
      h2.lecture__title Лекция для вас, <br> если вы:
      .lecture__item.lecture__item--yoga Увлекаетесь <br> йогой 
      .lecture__item.lecture__item--india Интересуетесь культурно-философским наследием Индии
      .lecture__item.lecture__item--body Хотите узнать новые принципы работы с телом и умом

